.trackName {
  text-align: center;

  font-weight: 600;
  padding: 0 .4rem;
  font-size: 0.86rem;
  white-space: nowrap;

  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  cursor: default;
}
.bgImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0.8);
  opacity: 0.5;
}
.trackName img {
  width: .9rem;
  margin-right: .25rem;
}
.trackName div {
  text-overflow: ellipsis;
  overflow: hidden;
}
.trackName div:focus {
  outline: none;
}

.content {
  flex-grow: 1;
  overflow: hidden;
  padding: .4rem 0;
  transition: transform .1s;
  position: relative;
}

.trackColor {
  width: 0;
  transition: width .25s;
  position: relative;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}


.innerprogress {
  background: #222 !important;
}
.progress *:not(.innerprogress) {
  background-color: #898989;
  background-image: none;
}
.innerknob {
  background: white !important;
}

.view {
  background: rgb(83, 83, 83);
  color: white;
  display: flex;
  width: 8rem;
  user-select: none;
  position: relative;
  transition: transform 0.2s;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.view.-eqing .slider, .view.-eqing .volume, .view.-eqing .buttons {
  opacity: 0;
  pointer-events: none;
}
.view.-eqing .content {
  pointer-events: none;
}
.view.-group {
  background-color: #464646;
}
.view.-selected {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5) inset;
}
.view.-not-selected:after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.6);
}
.view.-selected .trackColor {
  width: .4rem;
}
@keyframes pulse {
  0% {box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);}
  50% {box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);}
  100% {box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);}
}
.view.-selected:after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 99999;
  animation-name: pulse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.3s;
}

.volume {
  font-size: 0.6rem;
  text-align: center;
}

.buttons {
  padding: .3rem;
  flex-shrink: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.view:hover .buttons .button {
  opacity: 1;
}
.button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: .2rem;
  padding: .1rem .3rem;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  margin-right: .5rem;
}
.button:active {
  background: #666;
}
.button:last-child {
  margin-right: 0;
}
.renamer.-editing {
  overflow: visible;
  text-overflow: initial;
}
.levelMeter {
  position: absolute;
  top: 0;
  width: .4rem;
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  background: rgba(255, 255, 255, 0.2);
  transition: transform 0.06s;
  transition-timing-function: linear;
}
.mute {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: 0;
}
.solo {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: none;
}
.muted {
  background: rgb(245, 130, 17);
  color: #222;
  opacity: 1;
  border-color: rgb(245, 130, 17);
}

.soloed {
background: rgb(207, 197,	0);
color: #222;
opacity: 1;
border-color: rgb(207, 197,	0);
}
.options {
  position: absolute;
  top: 100%;
  z-index: 100000;
  background: #565656;
  right: 0;
  left: .4rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: .6rem;
  border-bottom-left-radius: .6rem;
  overflow: hidden;
}
.options input {
  width: 100%;
  -webkit-appearance: none;
  outline: none !important;
  border: 0;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.tag {
  display: flex;
  justify-content: space-between;
  padding: .2rem .5rem;
  align-items: center;
  font-size: 0.7rem;
}
.tag .removeTag {
  font-size: 0.8rem;
}
.tag.-active {
}
.tag .tagName {
  flex-grow: 1;
  padding: 0 .5rem;
}
.tag .checkbox {
  width: .5rem;
  height: .5rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: .2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.tag.-active .checkbox {
  background: rgba(255, 255, 255, 0.8);
}