@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


html {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #494949;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
  outline: none;
}

.normal {
  margin: 0;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-appearance: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
  -webkit-appearance: none;
}