.eq, canvas {
    position: absolute;
    left: .4rem;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}
.eq canvas {
    z-index: 999999997;
    width: 100%;
    height: 100%;
    pointer-events: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.eq.-eqing:hover {
    opacity: 1;
}
.eq.-eqing .buttons {
    background: rgba(0, 0, 0, 0.05);
    animation-name: slideUp;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: block;
    position: absolute;
    top: 100%;
    height: 1.5rem;
    right: 0;
    left: 0;
    padding: 0 1rem;
    z-index: 9999999998;
}
.buttons {
    display: none;
}
.buttons i {
    font-size: .8rem;
    cursor: pointer;
    transition: transform .1s;
    cursor: pointer;
}
.buttons i:active {
    transform: scale(1.09);
}
@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }


.controlPoint {
    width: 1rem;
    height: 1rem;
    background: #777;
    color: white;

    cursor: pointer;
    user-select: none;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    font-size: 0.7rem;
    z-index: 999999998;
    position: absolute;
    transform: translate(-50%, -50%);
}

.controlPoint:active {
    background: #313131;
    z-index: 999999999;
}

.controlPoint.-off {
    opacity: 0.25;
}